.user {
  font-family: Rubik, sans-serif;
  font-style: normal;
  text-align: center;
}

.avatar {
  border: 2.7px solid #349a89;
  border-radius: 50px;
  width: 95px;
  height: 95px;
  display: block;
  margin: 15px auto;
}

.fullName {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  display: block;
}

.location {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #9099a7;
  display: block;
}
